.form_btn_enter {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #494cde;
  border: none;
  cursor: pointer;
}

.form_btn_enter:hover {
  background-color: #291fdb;
}

.form_btn_enter:disabled {
  background-color: #6b6b75;
  cursor: auto;
}