.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 250px;
  height: 370px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 6px 2px rgba(34, 60, 80, 0.41);
  -moz-box-shadow: 2px 3px 6px 2px rgba(34, 60, 80, 0.41);
  box-shadow: 2px 3px 6px 2px rgba(34, 60, 80, 0.41);
}

.items_photo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.items_photo .item_photo:first-child {
  width: 100%;
  height: 200px;
}

.item_photo {
  width: 30%;
  height: 70px;
  cursor: pointer;
}
.item_photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title {
    font-weight: 600;
}


@keyframes fadeIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn {
  /* transform: translateY(20%); */
  animation: fadeIn 1s forwards;
  opacity: 0;
}