.block_tegs {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 17px;
    width: max-content;
    
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: none;
    outline: none;
}

.tegs {

}
